<div class="row"><div class="col-lg-12">
<section class="panel">
    <header class="panel-heading">
        <h4 style="display:inline;line-height: 1.9">TIPOS DE AREAS</h4>
        <span class="tools pull-right">
            <button class="btn btn btn-primary btn-sm" ng-click="listarTipoAreas()"><i class="fa fa-rotate-right"></i> Listar</button>
        </span>
    </header>
    <div class="panel-body" ng-init="listarTipoAreas()">
        
        <div class="tabla-responsiva">
            <table ng-table="tablaTipoArea" 
                   class="table table-striped table-hover" show-filter="true" >
            <colgroup>
                <col width="20px" /><col width="auto" /><col width="30%" /><col width="100px" /><col width="65px" />
            </colgroup>
            <tr ng-repeat="a in $data">
                <td data-title="'N'" sortable="'i'" >{{a.i}}</td>
                <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >{{a.nombre}}</td>
                <td data-title="'Alias'" filter="{ alias: 'text'}" sortable="'alias'" >{{a.alias}}</td>                
                <td data-title="'Estado'" filter="{ estado: 'select'}" filter-data="estadosSelect " sortable="'estado'" style="text-align: center">
                    <span class="label label-mini" ng-class="{'label-info': a.estado=='A','label-warning': a.estado=='I'}">{{a.estado}}</span>
                </td>
                <td data-title="'Accion'" style="text-align: center;">
                    <button class="btn btn-primary btn-xs" ng-click="prepararEditar(a)"><i class="fa fa-pencil" ></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="eliminarTipoArea(a.i,a.tipoAreaID)"><i class="fa fa-trash-o " ></i></button>
                </td>
            </tr>
        </table></div>
        <div align="right" >
            <button class="btn btn btn-primary " data-toggle="modal" data-target="#modalNuevo"><i class="fa fa-plus" ></i> Agregar</button>
            <button class="btn btn-danger " ng-click="eliminarTipoAreas()"><i class="fa fa-times" ></i> Eliminar</button>
        </div>

    </div>
</section>
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ACTUALIZAR TIPO AREA</h4>
      </div>
      <div class="modal-body">
          
          
        <div class="form-panel">
            <div class="form-horizontal style-form" >
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="tipoAreaSel.nombre">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Alias</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="tipoAreaSel.alias">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="tipoAreaSel.estado" ng-value="'A'" >activo</label>
                        </div>
                        <div class="radio" style="display: inline-block">
                          <label><input type="radio" ng-model="tipoAreaSel.estado" ng-value="'I'">inactivo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="editarTipoArea()"><i class="fa fa-save" ></i> Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">NUEVA TIPO AREA</h4>
      </div>
      <div class="modal-body">
          
          
            <div class="form-panel" >
                <div class="form-horizontal style-form" >
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nueTipoArea.nombre">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Alias</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="nueTipoArea.alias">
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nueTipoArea.estado" ng-value="'A'" checked>activo</label>
                            </div>
                            <div class="radio" style="display: inline-block">
                              <label><input type="radio" ng-model="nueTipoArea.estado" ng-value="'I'">inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          e
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="agregarTipoArea()"><i class="fa fa-check" ></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

